<div class="auth-wrapper">
  <form class="form-signup" [formGroup]="signupForm" (ngSubmit)="registerUser()">

      <div class="form-group-1">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
      </div>
      <div class="form-group-2">
          <label>Email address</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
      </div>
      <div class="form-group-3">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-block btn-primary">Sign up</button>
  </form>
</div>
